# BOT
BOT_TOKEN="your-mom-fat-like-default-python-container"
COMMAND_PREFIX="."
STATUS_MESSAGE="with himself :9"
INVITE_LINK=""
GITHUB_LINK="https://github.com/pauliusbaulius/lil_analytics"
BOT_OWNDER_ID=1 # Your own Discord id, needed for .index command!

# API KEY
# Generate a random key, for example:
# $ date +%s | sha256sum | base64 | head -c 64 ; echo
FASTAPI_KEY="Nm213jOWE2MGFiMzlhYzljYzEwN2E3MGI3Mzk0M2QyNDA5NmMyY2ViNmVlMWY3OGNj"

# PORTS
BOT_PORT=9997
FASTAPI_PORT=9998
NGINX_PORT=9999 # Not needed if you are going to run your own reverse proxy.