[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
matplotlib = ">=3.2.2"
python-dateutil = ">=2.8.1"
Pillow = ">=7.2.0"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.8"
