* {
    font-family: monospace;
}

body {
    max-width: 900px;
    font-size: 16px;
    margin: 0 auto;
    padding: 50px;
}

canvas {
    max-width: 100%;
}
/*
.canvas-small {
    width: 300px;
    height: 300px;
}

.canvas-medium {
    width: 600px;
    height: 600px;
}

.canvas-long {
    width: 600px;
    height: 300px;
}

.canvas-tall {
    width: 300px;
    height: 600px;
}
*/

.hint {
    font-size: smaller;
    color: darkgray;
}

.grid-canvas {
    display: grid;
   /* grid-template-columns: repeat( auto-fill, minmax(0, 1fr) ); */
}

ul {
    list-style-type: "+ ";

}

li a {
    text-decoration: none;
}